.button{
  position: relative;
  top: -50px;
  left: 90%;
  border-radius: 3px;
  background-color: white;
  color: black;
  box-shadow: 3px 4px #999;
  border: 2px solid #000000; 
}
.button1{
  position: relative;
  top: -50px;
  left: 90%;
  border-radius: 3px;
  background-color: white;
  color: black;
  box-shadow: 3px 4px #999;
  border: 2px solid #000000; 
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid #181818;
  margin: 1em 0;
  padding: 0;
}
.product {
  display: inline-block;
  width: 300px;
  margin: 10px;
  border: 2px solid #181818;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}
.description{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.input{
  border-color: black;
  border-radius: 3px;
  position: absolute;
  left: 90px;
  color: #979797;
}

.selectinput{
  border-color: black;
  border-radius: 3px;
  position: absolute;
  left: 140px;
}

.productAttributes{
  display: inline-block;
  width: 300px;
  margin: 10px;
  border: 2px solid #181818;
  border-radius: 2px;
  padding: 10px;
}

.objects {
  font-family: Arial;
  font-weight: bold;
}

.delete-checkbox{
  position: relative;
  right: 130px;
  width: 100px;
}
.bottom{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.product h3 {
  margin-top: 0;
}
.product p {
  margin-bottom: 10px;
}
.product .price {
  font-weight: bold;
}